.profile{
    flex: 0.4; 
    flex-direction: column; 
    border-right: 1px solid var(--twitter-background);
    padding: 100px 75px;
    overflow-y: scroll;
}

.profileBox{
    padding: 10px;
    width: 100%;
}

.profileBox__header{
    display: flex;
    flex-direction: column;
    margin: '5px auto';
    width: 100%;
}

.profileBox__imageSelect{
    width: fit-content;
    margin: 5px auto;
}

.profileBox__body{
    display: flex;
    width: 40%;
    flex-direction: column;
    margin: 5px auto;
}

.profileBox__body > input {
    outline: none;
    margin-bottom: 5px ;
}
